.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 340px;
  width: 30px;
  background-color: gray;
  transition: width 1s;
  overflow-x: hidden;
}
.menu-container:hover {
  width: 200px;
}
.menu-content {
  display: none;
  padding-left: 30px;
}
.menu-container:hover .menu-content {
  display: block;
}
.menu-container:hover .menu-label{
  display: none;
}
.menu-item {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
.menu-item:hover {
  color: orange;
}
.menu-label {
  writing-mode: vertical-rl;
  color: white;
  text-align: center;
  padding: 120px 5px;
}
.item{
  list-style: none;
  position: relative;
}
.menu-item::before{
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: orange;
  border: 1px black solid;
  transform: rotate(45deg);
  position: absolute;
  top: 21px;
  left: 0;
}